.DS_Store
.envrc

examples/fullscreen/fullscreen
examples/http/http
examples/mouse/mouse
examples/pager/pager
examples/simple/simple
examples/spinner/spinner
examples/textinput/textinput
examples/textinputs/textinputs
examples/views/views
tutorials/basics/basics
tutorials/commands/commands
.idea
